
#goldStarSolid{
    font-size: 2vw;
    vertical-align: middle;
    color: gold;
}
#goldStarEmpty{
    font-size: 2vw;
    vertical-align: middle;
    color: gold;
}

#goldStarEmpty{
    font-size: 2vw;
    vertical-align: middle;
    color: gold;
}

#taskname {
    display: inline-block;
    vertical-align: middle;
    font-size: 2vw;
    text-align: left;
}

p {
    font-size: 3vh;
    line-height: 1.4;
}

.btn {
    background-color: gold;
    color: black;
    font-family: 'Coustard', serif;
    justify-content: center;
    /* height: 4vh;
    margin: 1vh; */
    /* font-size: 2vh; */
    padding: 0px;
    margin-right: 15px;
    margin-bottom: 50px;
    margin-top: 20px;
    height: 30px;
    /* width: 75px; */


}
.btn:hover {
    transition: all .2 ease-in-out;
    transform: scale(1.1);
    background-color: gold;
    text-shadow: 1px 1px 2px gold, 0 0 25px yellow, 0 0 5px gold;
    box-shadow: 0 9px 11px 0 rgb(243, 199, 2), 0 17px 50px 0 rgb(247, 210, 0);
 }
 .tabs{
     margin: 15px;
 }

.modal-btn {
    margin-bottom: 50px;
    margin-top: 20px;
    height: 30px;
    width: 200px;
}

.buttonDiv {
    vertical-align: middle;
}
#logo{
    font-size: 12vh;
}
.buttonText{
    padding-bottom: 10px;
    text-align: center;
}
