/* .dv-star-rating-star .dv-star-rating-full-star {
    font-size: 3vw;
    vertical-align: middle;
    color: gold;
    float: left; */



#goldStarSolid{
    font-size: 2vw;
    vertical-align: middle;
    color: gold;
}
#goldStarEmpty{
    font-size: 2vw;
    vertical-align: middle;
    color: gold;
}

#goldStarEmpty{
    font-size: 2vw;
    vertical-align: middle;
    color: gold;
}
/* .dv-star-rating-star .dv-star-rating-full-star #goldStarSolid {
    font-size: 3vw;
    vertical-align: middle;
    color: gold;
    float: left;
} */

/* FontAwesomeIcon {
    color: gold;
} */

/* ul {
    display: flex;
}

li {
    width: 100%;
    flex-basis : 100%
} */

/* li:nth-child(2n) {
    background-color: rgb(226, 225, 225);
} */

/* .navbar-fixed {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
} */

#taskname {
    display: inline-block;
    vertical-align: middle;
    font-size: 2vw;
    text-align: left;
}

.btn {
    background-color: gold;
    color: black;
    font-family: 'Coustard', serif;
    height: 6vh;
    width: 5vw;
    font-size: 1vw;
    vertical-align: middle;
}
.btn:hover {
    transition: all .2 ease-in-out;
    transform: scale(1.1);
    background-color: gold;
    color: gold;
    text-shadow: 1px 1px 2px gold, 0 0 25px yellow, 0 0 5px gold;
    box-shadow: 0 9px 11px 0 rgb(243, 199, 2), 0 17px 50px 0 rgb(247, 210, 0);
 }
 .tabs{
     margin: 15px;
 }

.modal-btn {
    margin-bottom: 50px;
    margin-top: 20px;
    height: 30px;
    width: 200px;
}

.buttonDiv {
    vertical-align: middle;
}
