.search-bar{
  margin: 20px;
  text-align: center;
  border-radius: 2px;
  color: gold;
  box-shadow: 0 12px 16px 0 rgb(247, 235, 185),0 17px 50px 0 rgb(206, 205, 203);
  border: grey;
}

.search-bar input{
  width: 75%;
  border: grey;
}

.video-item img{
  max-width: 64px;
  text-align: left;
}

.video-detail .details{
  margin-top: 10px;
  padding: 10px;
  border: 1px solid gold;
  border-radius: 4px;
}

.list-group-item{
  cursor: pointer;
}

.list-group-item:hover{
  background-color: white;
  box-shadow: 0 12px 16px 0 rgb(247, 235, 185),0 17px 50px 0 rgb(206, 205, 203);
}

